@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .shadow-custom {
    /* Customize the shadow layers */
    box-shadow:
      0 0 2px #fff,
      inset 0 0 2px #fff,
      0 0 50px rgb(17, 255, 0),
      0 0 10px rgb(17, 255, 0),
      0 0 30px rgb(17, 255, 0);
  }
  
  .loader {
    --dim: 3rem;
    @apply w-[var(--dim)] h-[var(--dim)] relative;
    animation: spin988 2s linear infinite;
  }

  .circle {
    --color: #333;
    --dim: 1rem;
    @apply w-[var(--dim)] h-[var(--dim)] bg-[var(--color)] rounded-full absolute;
  }

  .loader .circle:nth-child(1) {
    @apply top-0 left-0 bg-blue-500;
  }

  .loader .circle:nth-child(2) {
    @apply top-0 right-0 bg-green-500;
  }

  .loader .circle:nth-child(3) {
    @apply bottom-0 left-0 bg-blue-500;
  }

  .loader .circle:nth-child(4) {
    @apply bottom-0 right-0 bg-blue-500;
  }

  @keyframes spin988 {
    0% {
      transform: scale(0.8) rotate(0);
    }
    20%, 25% {
      transform: scale(1.2) rotate(90deg);
    }
    45%, 50% {
      transform: scale(0.8) rotate(180deg);
    }
    70%, 75% {
      transform: scale(1.2) rotate(270deg);
    }
    95%, 100% {
      transform: scale(0.8) rotate(360deg);
    }
  }

  .animate-spin988 {
    animation: spin988 1s linear infinite;
  }
}
